.error {
    border: 1px solid red;
}

.container {
    width: 250px;
    margin: 0 auto;
    background-color: goldenrod;
    border: 3px solid blue;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}

.boxInputButton {
    margin-top: 20px;
    margin-bottom: 5px;
}

.boxInputButton input {
    margin-right: 5px;
    border-radius: 3px;
    border: 2px solid cadetblue;
}

.boxInputButton button {
    margin-right: 5px;
    border-radius: 3px;
    border: 2px solid cadetblue;
}

.userCounter {
    background-color: goldenrod;
    border: 3px solid green;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.spanError {
    color: red;
    background-color: white;
    border-radius: 5px;
}